<h1>Login page</h1>
<ul>
  <li><a href="/">Home</a></li>  
</ul>
<form method="post" action="login">
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Your email</label>
      <input
        class="u-full-width"
        type="email"
        placeholder="test@mailbox.com"
        name="email"
        id="exampleEmailInput"
      />
    </div>
    <div class="six columns">
      <label for="exampleEmailInput">Your password</label>
      <input
        name="password"
        class="u-full-width"
        type="password"
        placeholder="Your password"
        id="exampleEmailInput"
      />
    </div>
  </div>
  <input class="button-primary" type="submit" value="Submit" />
</form>